* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
	border-collapse: collapse;
	border-spacing: 0;
	text-decoration: none;
}

html {
	height: 100%;
}

body {
	height: 100%;
	width: 100%;
	background: white;
	font-size: 15px;
	font-weight: 400;
	color: white;
	font-family: "Open Sans", "Trebuchet MS", Helvetica, Arial, sans-serif;
	/*font improves*/
	-webkit-font-smoothing: antialiased;
	font-smooth: always;
	-webkit-text-shadow: rgba(0, 0, 0, 0.3) 0 1px;
	-moz-text-shadow: rgba(0, 0, 0, 0.3) 0 1px;
	-o-text-shadow: rgba(0, 0, 0, 0.3) 0 1px;
	-ms-text-shadow: rgba(0, 0, 0, 0.3) 0 1px;
	text-shadow: rgba(0, 0, 0, 0.3) 0 1px;
	text-align: justify;
	word-spacing: 0px;
	word-wrap: break-word;
}

li {
	list-style-type: none;
}

h1 {
	font-family: "Museo", "Trebuchet MS", Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 73px;
	color: white;
	line-height: 70px;
	-webkit-text-shadow: rgba(0, 0, 0, 1) 4px 4px;
	-moz-text-shadow: rgba(0, 0, 0, 1) 4px 4px;
	-o-text-shadow: rgba(0, 0, 0, 1) 4px 4px;
	-ms-text-shadow: rgba(0, 0, 0, 1) 4px 4px;
	text-shadow: rgba(0, 0, 0, 1) 4px 4px;
}

.site-bg {
	width: 100%;
	height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: absolute;
}

#content {
	max-width: 630px;
	display: table;
	position: absolute;
	top: 60%;
	margin-left: 35px;
}

.page-info {
	width: 70%;
	margin-top: 10px;
	margin-left: 10px;
	font-size: 16px;
	text-align: left;
}

.fb-login {
	width: 208px;
	height: 53px;
	margin-top: 10px;
	background: url(../images/fb_login.png) no-repeat;
	cursor: pointer;
}

#linkedmovies {
	width: 100%;
	height: 100%;
	background: rgba(173, 48, 54, 0.7);
	z-index: 9999;
	display: none;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-webkit-animation: resize 0.3s ease-out, fade 0.4s linear;
	-moz-animation: resize 0.3s 0.3s ease-out, fade 1.3s linear;
	-o-animation: resize 0.3s ease-out, fade 0.4s linear;
	-ms-animation: resize 0.3s ease-out, fade 0.4s linear;
	animation: resize 0.3s ease-out, fade 0.4s linear;
}

.main {
	width: 800px;
	min-height: 200px;
	margin: 0 auto;
	position: relative;
	top: 40px;
}

.main .user-info {
	width: 100%;
	height: 50px;
	display: table;
}

.main .user-info img {
	float: left;
}

.main .user-info h1 {
	padding-top: 10px;
	max-width: 512px;
	float: left;
	padding: 53px 26px;
}

.main .user-movies {
	width: 100%;
	margin-top: 30px;
	font-size: 16px;
}

.main .movie-recom {
	width: 100%;
	height: 200px;
	display: table;
	margin: 30px auto;
	background: rgba(79, 0, 0, 0.45);
	outline: 4px solid #4F0000;
	position: relative;
}

.main .loader {
	width: 108px;
	height: 30px;
	margin: 0 auto;
	position: relative;
	top: 75px;
}

.main .loader div {
	width: 16px;
	height: 11px;
	background: url(../images/loader.gif);
	margin: 0 auto;
}

/*_________ FADE _________*/
@
-webkit-keyframes fade { 0% {
	opacity: 0;
}

100%{
opacity
:
 
1;
}
}
@
-moz-keyframes fade { 0% {
	opacity: 0;
}

100%{
opacity
:
 
1;
}
}
@
-o-keyframes fade { 0% {
	opacity: 0;
}

100%{
opacity
:
 
1;
}
}
@
-ms-keyframes fade { 0% {
	opacity: 0;
}

100%{
opacity
:
 
1;
}
}
@
keyframes fade { 0% {
	opacity: 0;
}

100%{
opacity
:
 
1;
}
}

/*_________ RESIZE _________*/
@
-webkit-keyframes resize { 0% {
	-webkit-transform: scale(0.5);
}

100%
{
-webkit-transform
:
 
scale
(1);
}
}
@
-moz-keyframes resize { 0% {
	-moz-transform: scale(0.5);
}

100%
{
-moz-transform
:
 
scale
(1);
}
}
@
-o-keyframes resize { 0% {
	-o-transform: scale(0.5);
}

100%
{
-o-transform
:
 
scale
(1);
}
}
@
-ms-keyframes resize { 0% {
	-ms-transform: scale(0.5);
}

100%
{
-ms-transform
:
 
scale
(1);
}
}
@
keyframes resize { 0% {
	transform: scale(0.5);
}
100%
{
transform
:
 
scale
(1);
}
}